h1 {
    text-align: center;
    color:  white;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 5PX;
    display:flex;
    justify-content: space-around;
}

h2 {

    margin: 0;
    background-color: black;
    
}   


    .header {
    padding: 30px;
    background-color: black;
    
    
    
}

body {
    background-image: radial-gradient(circle, grey 10%, black)
    
}

nav { 
    /* vertical and spaced out nav bar */
    display: flex;
    padding: black, auto 100px;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    padding: auto, 100px;
    margin: 0;

}

a {
    color:white;
    text-decoration: none;
    padding: black auto;

}

.card {
    /* white card layouts  */
    background-color: white;
    /* opacity: 50%; */
    width: 40%;
    height: 100px;
    padding: 2px 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}
