h1 {
    text-align: center;
    color:  white;
    
}

h2 {
    text-align: center;
    color: white;

}

    .header {
    padding: 30px;
    
    
}

body {
    background-image: radial-gradient(circle, grey 10%, black)
    
}

nav { 
    /* vertical and spaced out nav bar */
    display: flex;
    padding: black, auto 100px;
    text-align: center;
    justify-content: space-around;

}

a {
    color:white;
    text-decoration: none;
    padding: black auto;

}

